{% extends 'mainboard/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'mainboard/mycss.css' %}">
{% endblock %}


{% block content %}

<div class="jumbotron text-center">
    <h1>XML Feed Service</h1>
    <p>Generate xml feed for the specific sites!</p>
</div>

<div class="container">
    <form method="POST" action="{% url 'add' %}">
        {% csrf_token %}

        <div class="row d-flex container checklist" id="member-list">
            {% for item in items %}
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input items" value="{{item}}">
                    {{ item }}
                </label>
            </div>
            {% endfor %}
        </div>

        <div class="row container">
            <button type="submit" class="btn btn-info" id="save">Save</button>
        </div>
    </form>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#save").click(function() {
            let checked = [];
            const period = $("#duration option:selected").val();
            $(".items").each(function() {
                if (this.checked) checked.push($(this).val());
            });

            console.log('checked list', period, checked);
        });
    });
</script>
{% endblock %}