{% extends 'mainboard/base.html' %}

{% load static %}


{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'mainboard/mycss.css' %}"> -->
{% endblock %}


{% block content %}

<div class="container">
    <div class="d-flex flex-column">
    {% for con in config %}
        <div class="p-2">
            <a href="{% url 'sites_config_details' site_id=con.site.id config_id=con.id %}">{{ con.site.url }}</a>
        </div>
    {% endfor %}
    </div>

    <a href="{% url 'sites_new' %}">
        <button type="button" class="btn btn-info">Add New</button>
    </a>
</div>

{% endblock %}

