{% extends 'mainboard/base.html' %}

{% load static %}


{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'mainboard/mycss.css' %}"> -->
{% endblock %}


{% block content %}

<div class="jumbotron text-center">
    <h1>XML Feed Service</h1>
    <p>Generate xml feed for the specific sites!</p>
</div>

<div class="container">
    <div class="d-flex flex-column">
    {% for site in sites %}
        <div class="p-2">{{ site.url }}</div>
    {% endfor %}
    </div>

    <a href="{% url 'add' %}">
        <button type="button" class="btn btn-info">Add New</button>
    </a>
</div>

{% endblock %}

