{% extends 'mainboard/base.html' %}

{% load static %}


{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'mainboard/mycss.css' %}"> -->
{% endblock %}


{% block content %}

<div class="jumbotron text-center">
    <h1>XML Feed Service</h1>
    <p>Generate xml feed for the specific sites!</p>
</div>

<div class="container">
    <div class="d-flex flex-column">
    {% for site in sites %}
        <div class="p-2">
            <a href="{% url 'sites_details' site_id=site.id %}">{{ site.url }}</a>
        </div>
    {% endfor %}
    </div>

    <a href="{% url 'sites_new' %}">
        <button type="button" class="btn btn-info">Add New</button>
    </a>
</div>

{% endblock %}

